@import "./variables.scss";
/* for some reason the styles will not load into this file. The variables load into main style file*/
.header_container {
  background-color: $black;
}

.header_title {
  display: inline-block;
  font-size: 30px;
  color: #108ee9;
  margin-left: 57%;
}

.header_span {
  margin-left: 100px;
  padding-bottom: 30px;
}

.header_button {
  width: 200px;
  text-align: center;
  border-radius: 4px;
  /*margin-left: 15px;
  margin-right: 15px;*/
  margin-bottom: 10px;
  background-color: antiquewhite;
}

.header_button_container {
  align-items: center;
  display: flex;
  justify-content: space-around;
}

.header_button_link {
  flex: 0 0 auto;
  /*text-align: center;*/
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
}
