@import '~antd/dist/antd.css';
@import "./variables.scss";
@import "./games.css";
@import "../components/blog/blog.css";
@import "./header.css";
@import "./landing.css";
@import "~codemirror/lib/codemirror.css";

.home_container {
  background-color: rgba(247, 247, 247, 0.5);
  min-height: 1500px;
  font-family: AkkuratStd, sans-serif;
}

.ant-layout-footer {
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #fff;
  text-align: center;
}

.ant-layout-header {
  position: fixed;
  width: 100%;
  padding: 0;
  height: 47px;
}

.btn {
  width: 100px;
  border: 1px solid lightgray;
  border-radius: 4px;
}


/*
hex numbers:

red: FF3D3D
light-grey: FFFFFF
mid-grey: E6E8E6
cool-grey: CED0CE
black: 191919
*/
