@import "./variables.scss";
@import "./games.css";
@import "./blog.css";
@import "./header.css";
@import "./landing.css";
@import "../node_modules/codemirror/lib/codemirror.css";

.home_container {
  background-color: $light-grey;
  min-height: 1500px;
}


/*
hex numbers:

red: FF3D3D
light-grey: FFFFFF
mid-grey: E6E8E6
cool-grey: CED0CE
black: 191919
*/
